<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Language IV Portfolio</title>
            <!--style sheets-->
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header-style.css">
        <link rel="stylesheet" href="../styles/footer-style.css">
        <link rel="stylesheet" href="../styles/sidebar-style.css">
        <link rel="stylesheet" href="../styles/landing.css">
            <!--end of style sheets-->
            <!--favicon-->
        <link rel="icon" href="../assets/favicon2.ico">
            <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!--end of fonts-->
    </head>
    <body>
        <header>
            <img class="header-menu" src="../assets/icons/menu.png" alt="Menu">
            <img class="header-logo" src="../assets/icons/logo.png" alt="Logo">
        </header>
        <aside>
            <nav>
                <div class="shortcuts">shortcuts</div>
                <ul>
                    <li>
                        <a href=#homepage>homepage</a>
                    </li>
                    <li>
                        <a href=#what-track>what is trackgenix?</a>
                    </li>
                    <li>
                        <a href=#why-track>why choose trackgenix?</a>
                    </li>
                    <li>
                        <a href=#about-track>about us</a>
                    </li>
                    <li>
                        <a href=#contact-track>get in touch</a>
                    </li>
                    <li>
                        <a>log in</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <section class="homepg" id="homepage">
                <h1>evelyn heredia's portfolio</h1>
                <img class="home-pg-logo" src="../assets/icons/logo.png" alt="Trackgenix logo">
            </section>
            <section class="wh-is-trackgenix" id="what-track">
                <div class="article-what-is">
                    <h2>Hi, I'm Trackgenix by Baltazar's Team</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <img src="../assets/hi-laptop.png" alt="Taking time">
            </section>
            <section class="choose-me" id="why-track">
                <h2>What can I do? & Why choose me?</h2>
                <div class="flex-container">
                    <div class="col-1">
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/decision-making.svg" alt="Shield">
                            <div >
                                <h3>decision making</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/reports.svg" alt="Graphic">
                            <div>
                                <h3>reports and traceability</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p> 
                            </div>
                        </div>
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/productivity-booster.svg" alt="Paper-plane">
                            <div>
                                <h3>productivity booster</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/resource-management.svg" alt="Flow chart">
                            <div>
                                <h3>resource management</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/leadership.svg" alt="Headphone">
                            <div>
                                <h3>leadership</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="choose-me-item-container">
                            <img src="../assets/icons/hours-log.svg" alt="Clock">
                            <div>
                                <h3>hours log</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-us" id="about-track">
                <h2>about us</h2>
                <div class="about-us-container-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <img class="about-us-img1" src="../assets/about-us1.png" alt="Working at the office">
                </div>
                <div class="about-us-container-2">
                    <img class="about-us-img2" src="../assets/about-us2.png" alt="Team">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </section>
            <section class="contact" id="contact-track">                          
                <h2>contact us</h2>
                <div class="flex-container-2">
                    <div class="col-1a">
                        <form>
                            <label for="name">Username:</label>
                            <input id="name" type="text" name="name" placeholder="Martin Rios">
                            <label for="mail">Email:</label> 
                            <input id="mail" type="email" name="email" placeholder="xxx@mail.com">
                            <label for="sector">Sector:</label>
                            <select id="sector" name="sector">
                                <option value="front-end">Front end</option>
                                <option value="back-end" selected>Back end</option>
                                <option value="human-resources">Human resources</option>
                                <option value="marketing">Marketing</option>
                            </select> 
                            <label for="pnumber">Phone number:</label> 
                            <input id="pnumber" type="tel" name="pnumber" placeholder="341-1234567">
                            <label for="comments">Type a message:</label> 
                            <textarea id="comments" name="comments" cols="30" rows="10" placeholder="Write your message here"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="col-2a">
                        <address> 
                            <div class="contact-address-items">
                                <img src="../assets/icons/address.svg" alt="Address">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                            <div class="contact-address-items">
                                <img src="../assets/icons/phone.svg" alt="Phone">
                                <div>
                                    <p>
                                        974040000 /974040001 /974040002
                                    </p>
                                    <p>
                                        +99 9 999 999-9999
                                    </p>
                                    <p>
                                        +11 1 111 111-1111
                                    </p>
                                </div>
                            </div>
                            <div class="contact-address-items">
                                <img src="../assets/icons/mail.svg" alt="Mail">
                                <div>
                                    <p>
                                        Lorem-ipsum@dolorsit.amet
                                    </p>
                                    <p>
                                        consectetdipisici@elit.seddo
                                    </p>
                                    <p>
                                        eiusmod_tempor @incididunt.ut
                                    </p>
                                    <p>
                                        labore-et-dolore@magna.aliqua
                                    </p>
                                </div>
                            </div>
                        </address>
                    </div>
                </div>                
                <div class="contact-footer">
                    <div class="contact-footer-item">
                        <h3>products</h3>
                        <ol>
                            <li>
                                <a href="#homepage">features</a>
                            </li>
                            <li>
                                <a href="#homepage">downloads</a>
                            </li>
                            <li>
                                <a href="#homepage">integrations</a>
                            </li>
                            <li>
                                <a href="#homepage">additional features</a>
                            </li>
                        </ol>
                    </div>
                    <div class="contact-footer-item">
                        <h3>business</h3>
                        <ol>
                            <li>
                                <a href="#homepage">about us</a>
                            </li>
                            <li>
                                <a href="#homepage">customers</a>
                            </li>
                            <li>
                                <a href="#homepage">resources</a>
                            </li>
                            <li>
                                <a href="#homepage">blog</a>
                            </li>
                        </ol>
                    </div>
                    <div class="contact-footer-item">
                        <h3>support</h3>
                        <ol>
                            <li>
                                <a href="#homepage">help</a>
                            </li>
                            <li>
                                <a href="#homepage">tutorials</a>
                            </li>
                            <li>
                                <a href="#homepage">api</a>
                            </li>
                            <li>
                                <a href="#homepage">contact</a>
                            </li>
                        </ol>
                    </div> 
                </div>
            </section>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="https://ar.linkedin.com/" target="_blank"><img src="../assets/icons/linkedin.svg" alt="Linkedin"></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank"><img src="../assets/icons/twitter.svg" alt="Twitter"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../assets/icons/facebook.svg" alt="Facebook"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../assets/icons/instagram.svg" alt="Instagram"></a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank"><img src="../assets/icons/githab.svg" alt="Github"></a>
                </li>
            </ul>
            <address>Rosario, Argentina</address>
            <p>Copyright &copy; 2022 Trackgenix S.A. All rights reserved</p>
        </footer>
    </body>
</html>